@font-face {
  font-family: 'Whitney';
  src: url('Whitney-Semibold.eot?orgId=00D70000000KBUh&orgId=00D70000000KBUh');
  src: url('Whitney-Semibold.eot?orgId=00D70000000KBUh&orgId=00D70000000KBUh#iefix') format('embedded-opentype'), url('Whitney-Semibold.woff?orgId=00D70000000KBUh&orgId=00D70000000KBUh') format('woff'), url('Whitney-Semibold.ttf?orgId=00D70000000KBUh&orgId=00D70000000KBUh') format('truetype');
  font-weight: 500;
  font-style: normal;
}