@font-face {
  font-family: 'Whitney-Book';
  src: url('Whitney-Book.eot?orgId=00D70000000KBUh&orgId=00D70000000KBUh');
  src: url('Whitney-Book.eot?orgId=00D70000000KBUh&orgId=00D70000000KBUh#iefix') format('embedded-opentype'), url('Whitney-Book.woff?orgId=00D70000000KBUh&orgId=00D70000000KBUh') format('woff'), url('Whitney-Book.ttf?orgId=00D70000000KBUh&orgId=00D70000000KBUh') format('truetype');
  font-weight: 500;
  font-style: normal;
}